<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ihm.accidents">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera2" android:required="true" />


    <application android:name="ihm.accidents.application.IncidentApplication"
        android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="InfoIncident" android:roundIcon="@mipmap/logo"
        android:supportsRtl="true" android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="ihm.accidents" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
        </provider>


        <activity android:name="ihm.accidents.activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="ihm.accidents.activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="ihm.accidents.activities.ChoicePathActivity" android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="ihm.accidents.activities.CreationAccidentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>


        <activity android:name="ihm.accidents.activities.DetailsAccidentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="ihm.accidents.activities.ListIncidentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activities.ParameterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activities.MultipleDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>


    </application>

</manifest>