<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API for the IHM course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <header class="p-2">
        <h3>IHM TD1 Accident</h3>
    </header>


    <form class="container" enctype="multipart/form-data" action="/api/accidents" method="post">

        <label for="accidentImage">Photo: </label>
        <input class="form-control" type="file" name="accidentImage" id="accidentImage">
        <label for="adresse">Adresse :</label>
        <input placeholder="Adresse" class="form-control mb-2" type="text" id="adresse" name="adresse">
        <label for="deviceId">DeviceID:</label>
        <input placeholder="deviceId" class="form-control mb-2" type="text" id="deviceId" name="deviceId">
        <label for="type">Type d'accident:</label>
        <input placeholder="Type" class="form-control mb-2" type="text" id="type" name="type">
        <button class="form-control btn btn-success">Validate</button>
    </form>
</body>

</html>